---
import About from "../components/About.astro";
import Button from "../components/Button.astro";
import Events from "../components/Events.astro";
import Hero from "../components/Hero.astro";
import Maps from "../components/Maps.astro";
import Products from "../components/Products.astro";
import Reviews from "../components/Reviews.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Hero />
  <div class="main-item">
    <About />
  </div>
  <div class="main-item">
    <Events />
  </div>
  <div class="main-item">
    <Products />
  </div>
  <div class="main-item">
    <Reviews />
  </div>
  <div class="main-item">
    <Maps />
  </div>
</MainLayout>

<style>
  .main-item {
    margin-bottom: 5rem;
  }
</style>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hidden, .hidden-left");
  hiddenElements.forEach((el) => observer.observe(el));
</script>
