---
import Button from "../components/Button.astro";
import Hero from "../components/Hero.astro";
import Products from "../components/Products.astro";
import Reviews from "../components/Reviews.astro";
import ProductsTest from "../components/Products.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ProductsTest />
  </body>
</html>
