---

---

<section class="main-container">
    <div id="plat_text">
        <h3>
            Plat du Jour
        </h3>
        <p>
            Leder du efter et lækkert måltid, der er lavet med kærlighed og omsorg? Så se ikke længere end vores "Plat du jour" arrangement. Hver anden fredag tilberedes et måltid af nogle af de mest talentfulde kokke i branchen, kun med de friskeste ingredienser.
            Hvilken ret vil du gerne se på vores næste Plat du Jour?
        </p>
    </div>
    <div id="plat_vote">
        <p></p>
    </div>
</section>