---
import "../styles.css";
---

<h2>Et udvalg af vores produkter</h2>
<div class="slider">
  <div class="slider-item">
    <img src="../public/images/product-img/product-1.webp" alt="" />
    <p>Coffee – Gamay of the Morning</p>
  </div>
  <div class="slider-item">
    <img src="../public/images/product-img/product-2.webp" alt="" />
    <p>Kandy Spices - Muskatblomme</p>
  </div>
  <div class="slider-item">
    <img src="../public/images/product-img/product-4.webp" alt="" />
    <p>Omada vinglas & proptrækker</p>
  </div>
  <div class="slider-item">
    <img src="../public/images/product-img/product-5.webp" alt="" />
    <p>Omada vin</p>
  </div>
  <div class="slider-item">
    <img src="../public/images/product-img/product-6.webp" alt="" />
    <p>Pujadó Solano - Syltede Ansjoser</p>
  </div>
  <div class="slider-item">
    <img src="../public/images/product-img/product-7.webp" alt="" />
    <p>Æblemost</p>
  </div>
  <div class="slider-item">
    <img src="../public/images/product-img/product-8.webp" alt="" />
    <p>Vineddike</p>
  </div>
  <div class="slider-item">
    <img src="../public/images/product-img/product-9.webp" alt="" />
    <p>Tote bag</p>
  </div>
  <div class="slider-item">
    <img src="../public/images/product-img/product-10.webp" alt="" />
    <p>Omada vin</p>
  </div>
</div>
<div class="slider-btn">
  <svg class="prev"
    ><svg width="22" height="42" viewBox="0 0 22 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.6837 42L3.71672e-07 21L18.6837 0L22 3.7275L6.6327 21L22 38.2725L18.6837 42Z" fill="var(--orange)"></path>
    </svg>
  </svg>
  <svg class="next" width="22" height="42" viewBox="0 0 22 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.31635 1.00287e-07L22 21L3.31634 42L-3.06372e-06 38.2725L15.3673 21L-3.33973e-07 3.7275L3.31635 1.00287e-07Z" fill="var(--orange)"></path>
  </svg>
</div>

<style>
  img {
    height: 500px;
    width: 300px;
    object-fit: cover;
  }

  .slider {
    display: flex;
    gap: var(--medium);
    transition: all 0.5s ease-in-out;
    position: absolute;
  }

  p {
    padding-top: 0.3rem;
  }

  .prev,
  .next {
    position: relative;
    cursor: pointer;
    z-index: 100;
  }

  .slider-btn {
    display: flex;
    justify-content: space-between;
    transform: translateY(150%);
    width: 95%;
    margin-inline: auto;
  }

  h2 {
    padding-block: var(--small);
  }
</style>

<script>
  const slider = document.querySelector(".slider");
  const prevButton = document.querySelector(".prev");
  const nextButton = document.querySelector(".next");
  const slideWidth = slider.clientWidth / 7;
  const slideDuration = 500;
  const slideCount = slider.childElementCount;
  const clonedSlides = [];

  let currentSlide = 0;

  // Clone the first and last slides
  for (let i = 0; i < slideCount; i++) {
    const clonedSlide = slider.children[i].cloneNode(true);
    clonedSlides.push(clonedSlide);
  }
  slider.append(...clonedSlides);

  function showSlide(slideIndex) {
    slider.style.transform = `translateX(-${slideIndex * slideWidth}px)`;
  }

  showSlide(currentSlide);

  prevButton.addEventListener("click", () => {
    if (currentSlide > 0) {
      currentSlide--;
      slider.style.transition = `transform ${slideDuration}ms ease-in-out`;
    } else {
      currentSlide = slideCount - 1;
      slider.style.transition = `none`;
    }
    showSlide(currentSlide);
  });

  nextButton.addEventListener("click", () => {
    if (currentSlide < slideCount * 2 - 1) {
      currentSlide++;
      slider.style.transition = `transform ${slideDuration}ms ease-in-out`;
    } else {
      currentSlide = slideCount;
      slider.style.transition = `none`;
    }
    showSlide(currentSlide);
  });
</script>
