---
const { location, name, text } = Astro.props;
---

<li class="testimonial hidden">
  <p class="name">{name}</p>
  <p class="p-italic">{location}</p>
  <hr />
  <p class="text">{text}</p>
</li>

<style>
  .testimonial {
    list-style: none;
    margin-bottom: var(--large);
    margin-top: var(--small);
  }

  .text {
    margin-top: 0.5rem;
  }

  hr {
    width: 30px;
    background-color: var(--orange);
    height: 1.5px;
    border: none;
  }
</style>
