@font-face {
  font-family: Lora;
  src: url(../public/font/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lora_italic;
  src: url(../public/font/Lora-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: Calibre;
  src: url(../public/font/CalibreRegular.otf);
}

@font-face {
  font-family: Omada-font;
  src: url(../public/font/Aviano-Sans-Bold.woff2);
}

:root {
  --h1-font-size: 35px;
  --h2-font-size: clamp(1.25rem, 1.0179rem + 0.9524vw, 1.875rem);
  --h3-font-size: 20px;
  --p-font-size: clamp(1rem, 0.9071rem + 0.381vw, 1.25rem);

  /*Farver*/
  --orange: #f75443;
  --black: #1e1e1e;
  --white: #fffef5;

  /* Spacing */
  --extra-small: 0.5rem;
  --small: 1rem;
  --medium: 2rem;
  --large: 3rem;
  --extra-large: 5rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

a {
  font-family: lora_italic;
  transition: 100ms all ease-in;
}

a:hover {
  color: var(--orange);
  transition: 100ms all ease-in;
}

h1 {
  font-family: Omada-font;
  font-size: var(--h1-font-size);
}
h2 {
  font-family: Lora_italic;
  font-size: var(--h2-font-size);
  color: var(--orange);
  font-weight: 300;
}
h3 {
  font-family: Calibre;
  font-size: var(--h3-font-size);
  color: var(--black);
  font-weight: 500;
}
p {
  font-family: Calibre;
  font-size: var(--p-font-size);
  color: var(--black);
}
@media (min-width: 850px) {
  .main-container {
    padding-inline: var(--large);
    /* max-width: 1200px; */
    margin-inline: auto;
  }
}
